<%= form_with(model: entry) do |form| %>


  <div class="row">
    <div class="col">
      <% form.label :meal_type %>
      <%= form.text_field :meal_type , class: "form-control", placeholder: "meal type"%>
    </div>
    <br></br>
    <div class="col">
      <% form.label :calories %>
      <%= form.number_field :calories , class: "form-control", placeholder: "calories"%>
    </div>
    <br></br>
    <div class="col">
      <% form.label :fats %>
      <%= form.number_field :fats , class: "form-control", placeholder: "fats"%>
    </div>
    <br></br>
    <div class="col">
      <% form.label :proteins %>
      <%= form.number_field :proteins , class: "form-control", placeholder: "proteins"%>
    </div>
    <br></br>
    <div class="col">
      <% form.label :carbohydrates %>
      <%= form.number_field :carbohydrates , class: "form-control", placeholder: "carbohydrates"%>
    </div>
    <div class="col">

      <%= form.number_field :user_id , id: :entry_user_id, class: "form-control", value: current_user.id , type: :hidden%>

    </div>

  </div>
  <br></br>

  <div class="btn btn-light">
    <%= form.submit %>
  </div>
<% end %>
