<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #003f66">
  <div class="container-fluid">
    <div class="navbar-brand" >
      <%= link_to root_path, class: "nav-link" do%>
      Diet Meter
      <%end%>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-expand-lg">
        <%if user_signed_in?%>
        <li class="nav-item">
          <%= link_to "All entries", archives_index_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Week view", archives_weeks_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Sign out", destroy_user_session_path, method: :get, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Edit profile", edit_user_registration_path, class: "nav-link"%>
        </li>
        <span class="btn btn-secondary" , style="position:  absolute; right: 0; margin-right: 30px; top: 8px; background-color: #1abc9f;">
          <%= link_to "New meal", root_path, class: "nav-link"%>
        </span>
        <%else%>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Sing in", new_user_session_path, class: "nav-link"%>
        </li>
        <%end%>
      </ul>
    </div>
  </div>
</nav>
